body {
    font-family: Arial, sans-serif;
    background-color: #da93bb;
  }
  
  h6 {
    text-align: center;
  }
  
  .login-container {
    max-width: 300px;
    margin: 100px auto;
    padding: 20px;
    background-color: #f7daeb;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  label {
    display: block;
    margin-bottom: 5px;
  }
  
  input {
    width: 92%;
    padding: 10px;
    margin-bottom: 10px;
  }
  
  button {
    width: 100%;
    padding: 10px;
    background-color: #e966b0;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #da93bb;
  }
  

